<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-eaten="{{devoured}}">
		{{#if devoured}}DEVOUR{{else}}ON PLATE{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
